<div id="page2Detail">
  <a-divider orientation="left">页面2详情</a-divider>
  <a-row class="line">
    <a-col :xs="{ span: 24 }" :lg="{ span: lgspan_l }">标签</a-col>
    <a-col :xs="{ span: 24 }" :lg="{ span: lgspan_r }">xxxxxxxxx</a-col>
  </a-row>

  <a-row class="line">
    <a-col :xs="{ span: 24 }" :lg="{ span: lgspan_l }">状态</a-col>
    <a-col :xs="{ span: 24 }" :lg="{ span: lgspan_r }">xxxxxxxxx</a-col>
  </a-row>

  <a-row class="line">
    <a-col :xs="{ span: 24 }" :lg="{ span: lgspan_l }">创建日期</a-col>
    <a-col :xs="{ span: 24 }" :lg="{ span: lgspan_r }">xxxxxxxxx</a-col>
  </a-row>

  <a-row class="line">
    <a-col :xs="{ span: 24 }" :lg="{ span: lgspan_l }">创建人</a-col>
    <a-col :xs="{ span: 24 }" :lg="{ span: lgspan_r }">小王22222</a-col>
  </a-row>

  <a-row class="line">
    <a-col :xs="{ span: 24 }" :lg="{ span: lgspan_l }">有效期</a-col>
    <a-col :xs="{ span: 24 }" :lg="{ span: lgspan_r }">xxxxxxxxx</a-col>
  </a-row>

  <a-row class="line">
    <a-col :xs="{ span: 24 }" :lg="{ span: lgspan_l }">算法</a-col>
    <a-col :xs="{ span: 24 }" :lg="{ span: lgspan_r }">xxxxxxxxx</a-col>
  </a-row>

  <a-button type="primary" @click="$router.go(-1)" class="goback">
    返回
  </a-button>
</div>
